<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Déclaration</title>
    {% include 'header.html' %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}">
    <style>
        :root {
            --animate-duration: 500ms;
            --animate-delay: 0.5s;
            scroll-behavior: smooth;
        }
        body, html{
            padding: auto;
            margin: 0px;
        }
        body{
            scroll-behavior: smooth;
            height: 100vh;
            align-items:center;            
        }
        .declarer{
            overflow:auto;
            padding-bottom:60px;
        }
        form{
            overflow:auto;
        }
    </style>
</head>

{% include 'theme.html' %}
<div>
    <h1 class="font-bold"> Faire une déclaration</h1>
</div>
    <div class="declarer">
        <form method="POST" action="" class="shadow-xl" style="padding:10%; border-radius:30px" enctype="multipart/form-data">
        <center>

            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Type de déclaration</span>
                </label>
                <select class="select select-bordered" name="type">
                    <option value="perte" selected="selected">J'ai perdu</option>
                    <option value="trouvaille">J'ai trouvé</option>
                </select>
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Nature</span>
                </label>
                <select class="select select-bordered" name="nature">
                    <option value="document" selected="selected">Document(s) ou pièce(s)</option>
                    <option value="portefeuille">Portefeuille</option>
                    <option value="sac">Sac ou valise</option>
                    <option value="electronique">Appareil electronique (Telephone, ecouteur, radio...)</option>
                    <option value="bijou">Bijou(s)</option>
                    <option value="animal">Animal(s)</option>
                    <option value="vetement">Vêtement(s)</option>
                    <option value="personne">Personne (Un parent, un proche, ami (e) )</option>


                </select>
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Le</span>
                </label>
                <input name="date" type="date" placeholder="Date de perte ou trouvaille de(s) pièce(s)" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">A</span>
                </label>
                <input name="lieu" type="text" placeholder="Ex: Yamoussoukro" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                <span class="label-text">Description</span>
                </label>
                <input name="description" type="text" placeholder="Ex: Pièce CNI et argent perdus" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="avatar-upload">
                <label class="label">
                    <span class="label-text">Ajouter une photo</span>
                </label>
                <div class="avatar-edit ">
                    <input type='file' name="img" id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload" class="mask mask-squircle shadow-xl"></label>
                </div>
                <div class="avatar-preview mask mask-squircle shadow-xl">
                    <div id="imagePreview" class="mask mask-squircle" style="background-image: url( {{url_for('static',filename='img/default_pp.webp')}} );">
                    </div>
                </div>
            </div>
            <br>
            <div class="form-control w-full max-w-xs w-96">
                <button class="btn btn-primary">
                    <input class="" id="submit_butt" type="submit" value="Publier">
                </button>
            </div>
        </center>
    </form>
    
    </div>
    <div class="" style="position: fixed; bottom:20px; z-index:10; border-radius:30%; padding-left:5%;padding-right:5%; width:100% ">
        <center>
            {% include 'bottom_nav.html' %}
        </center>
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $("#imagePreview").css(
                        "background-image",
                        "url(" + e.target.result + ")"
                    );
                    $("#imagePreview").hide();
                    $("#imagePreview").fadeIn(650);
                };
                reader.readAsDataURL(input.files[0]);
            }
            }
            $("#imageUpload").change(function() {
            readURL(this);
            });
        </script>
</body>

</html>