<link rel="icon" href="{{url_for('static',filename='img/logo.png')}}" type="image/png">
<link href="{{url_for('static',filename='css/daisyui.css')}}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{url_for('static',filename='css/animate.min.css')}}" />
<link rel="stylesheet" href="{{url_for('static',filename='css/tailwind.min.css')}}" />
<!-- <script src="{{url_for('static',filename='js/tailwindcss.js')}}"></script> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@4	00&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="text/javascript" src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/w3.js')}}"></script>
<style>
	body, html{
		font-family: 'Nunito', sans-serif;
		margin: 0px;
        padding:0px;
	}
	    *::-webkit-scrollbar {
          width: 8px;
        }
         
        *::-webkit-scrollbar-track {
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
         
        *::-webkit-scrollbar-thumb {
          background-color: #38bdf8;
          border-radius:40px;
        }

</style>