<!DOCTYPE html>
<html lang="fr" data-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
        <!-- <link rel="stylesheet" href="../static/css/glass.css"> -->
        {% include 'header.html' %}
        <title>Authentification</title>
    </head>
    <body class="" data-theme="dark">
        <br>
        <form method="post" action="" class="">
            
            <br><br>
            <label class="w3-text-blue"><b>Contact</b></label>
            <input type="text" placeholder="Contact" class="input input-bordered w-full max-w-xs" name="contact"/>
            <br>
            <!-- <input class="w3-input w3-border w3-round-large" name="contact" type="text">-->
            <label class="w3-text-blue"><b>Mot de passe</b></label>
            <input type="password" placeholder="********" class="input input-bordered w-full max-w-xs" name="password"/>
            <!--<input class="w3-input w3-border w3-round-large" name="password" type="password">-->
            <br>
            <input type="submit" class="btn btn-primar" value="Connexion">
            <br>
            <div>
                <p><a href="#">Mot de passe oublié</a></p>
                <p><a href="/signup"> <i>Je m'inscris ?</i> </a></p>
            </div>
        </form>
    </body>
</html>