<!DOCTYPE html>
<html lang="fr" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <title>Authentification</title>
    <style>
        html, body{
                margin: 0px;
                padding:0px;
            }
            body{
                display: flex;
                flex-direction: column;
                padding: 10%;
                padding-top: 10%;
                height: 100%;

            }
            form{
                padding: 8%;
            }
        </style>
</head>

<body class="" data-theme="night" class="">
    {% if message=="login-error" %}
    <center style="position: sticky; top:10px; z-index: 10;">
        <div class="alert alert-error shadow-lg" style="position: sticky; top:10px; z-index: 10;">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>Identifiant ou mot de passe incorrect !</span>
            </div>
        </div>
    </center>
    {% endif %}
    <center>
        <img src="{{url_for('static',filename='img/logo.png')}}" style="width:50%" alt="">
    </center>
    <form method="post" action="" class="card shadow-xl">
        <br>
        <center>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Identifiants</span>
                </label>
                <input type="text" placeholder="Saisir ici" class="input input-bordered w-full max-w-xs" name="key" />
            </div>
            <div class="form-control w-full max-w-xs">
                <label class="label">
                    <span class="label-text">Saisir votre mot de passe?</span>
                </label>
                <input type="password" placeholder="********" class="input input-bordered w-full max-w-xs" name="password" />
            </div>
            <div class="form-control w-full max-w-xs">
                <label class="label cursor-pointer">
                    <span class="label-text">Se souvenir de vous ?</span>
                    <input type="checkbox" checked="checked" class="checkbox" name="remember" />
                </label>
            </div>
            <br>
            <button class="btn btn-primary"> <input type="submit" value="Connexion">
                <input type="hidden" value="{{ next or '' }}" name="next"></button>
            <br>
            <div class="form-control w-full max-w-xs w-96">
                <a href="#" class="link link-primary">Mot de passe oublié ?</a>
            </div><br>
            <a href="/signup" class="btn btn-outline btn-primary"><i class="fa fa-pencil"> </i> S'inscrire </a>
            <br>
            <br>
        </center>
    </form>
</body>
</html>