<!DOCTYPE html>
<html lang="fr-fr" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'header.html' %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/signup.css')}}">
    <title>Creer un compte</title>
</head>
<body class="" data-theme="night">
    <form method="POST" action="" class="shadow-xl" style="padding:10%; border-radius:30px" enctype="multipart/form-data">
        <center>
            <div class="avatar-upload">
                <div class="avatar-edit ">
                    <input type='file' name="pp" id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload" class="mask mask-squircle shadow-xl"></label>
                </div>
                <div class="avatar-preview mask mask-squircle shadow-xl">
                    <div id="imagePreview" class="mask mask-squircle" style="background-image: url( {{url_for('static',filename='img/default_pp.webp')}} );">
                    </div>
                </div>
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Nom</span>
                </label>
                <input type="text" placeholder="Ex: Koffi" class="input input-bordered w-full max-w-xs" name="nom" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Prénom</span>
                </label>
                <input type="text" placeholder="Ex: Yao Jean" class="input input-bordered w-full max-w-xs" name="prenoms" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Date de naissance</span>
                </label>
                <input name="naissance" type="date" placeholder="Date de naissance" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Type de pièce</span>
                </label>
                <select class="select select-bordered" name="piece">
                    <option value="" disabled selected>Choisir votre pièce</option>
                    <option value="Carte Nationale d'Identité">Carte Nationale d'Identité</option>
                    <option value="Passport">Passport</option>
                    <option value="Attestation d'Identité">Attestation d'Identité</option>
                </select>
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Numéro de la pièce</span>
                </label>
                <input name="npiece" type="text" placeholder="Ex: CI002210580" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Téléphone</span>
                </label>
                <input name="tel" type="tel" placeholder="Ex: 0787580485" class="input input-bordered w-full max-w-xs" pattern="[0-9]{10}" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Email</span>
                </label>
                <input name="email" type="email" placeholder="Ex: koffi@gmail.com" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Mot de passe</span>
                </label>
                <input name="password" type="password" placeholder="********" class="input input-bordered w-full max-w-xs" />
            </div>
            <div class="form-control w-full max-w-xs w-96">
                <label class="label">
                    <span class="label-text">Confirmer le mot de passe</span>
                </label>
                <input name="passwordconfirm" type="password" placeholder="********" class="input input-bordered w-full max-w-xs" />
            </div>
            <br>
            <div class="form-control w-full max-w-xs w-96">
                <button class="btn btn-primary">
                    <input class="" id="submit_butt" type="submit" value="Enregistrer">
                </button>
            </div> 
        </center>
    </form>
</body>
<script>
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $("#imagePreview").css(
                "background-image",
                "url(" + e.target.result + ")"
            );
            $("#imagePreview").hide();
            $("#imagePreview").fadeIn(650);
        };
        reader.readAsDataURL(input.files[0]);
    }
}
$("#imageUpload").change(function() {
    readURL(this);
});
</script>

</html>